In [1]:
import json

In [2]:
with open('train.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

In [10]:
data['data'][0]

{'id': 0,
 'noisy_add': 'đông lân 1 , phường bà điểm , hồ chí minh',
 'std_add': {'1580': {'street': 'đông lân 1',
   'city': 'hồ chí minh',
   'id': 1580,
   'district': 'hóc môn',
   'ward': 'None'}}}

In [15]:
def gen_data(data_file, num_sample):
    with open(data_file, 'r', encoding='utf-8') as f:
        data = json.load(f)

    x = dict()
    x['data'] = []
    for i in range(num_sample):
        x['data'].append(data['data'][i])
    return x

In [16]:
train_data = gen_data('train.json', 1000)
with open('Siameser/Data/train.json', 'w', encoding='utf-8') as f:
    json.dump(train_data, f, ensure_ascii=False, indent=4)

In [17]:
test_data = gen_data('test.json', 500)
with open('Siameser/Data/test.json', 'w', encoding='utf-8') as f:
    json.dump(test_data, f, ensure_ascii=False, indent=4)

In [18]:
with open('Siameser/Data/RAT_DATA_MAIN.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [ ]:
RAT_DATA

In [21]:
std_addresses = []
for sample in RAT_DATA['data']:
    std_addresses.append(sample['norm_add'])

In [25]:
# from collections import Counter
# for i in Counter(std_addresses):
#     print(i)
#     break

In [26]:
x = dict(Counter(std_addresses))
hard_add = []
for i in x:
    if x[i] > 1:
        hard_add.append(i)

In [28]:
len(hard_add)

515

In [31]:
hard_id = []
for sample in RAT_DATA['data']:
    if sample['norm_add'] in hard_add:
        hard_id.append(sample['id'])

In [34]:
# hard_id

In [42]:
with open('train.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
hard_sample = []
for sample in data['data']:
    id = (list(sample['std_add'].keys())[0])
    if sample['std_add'][id]['id'] in hard_id:
        hard_sample.append(sample)

In [1]:
hard_sample

NameError: name 'hard_sample' is not defined

In [45]:
with open('Siameser/Data/hard_train.json', 'w', encoding='utf-8') as f:
    json.dump(test_data, f, ensure_ascii=False, indent=4)

In [1]:
import json

In [2]:
with open ('Data/train.json', 'r', encoding='utf-8') as f:
    train_data = json.load(f)

In [ ]:
train_data

# Add more standard address

In [30]:
import json
with open ('Data/RAT_DATA_MAIN_New.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [4]:
# x = dict()
# for i in RAT_DATA['data']:
#     # print(i)
#     id = i['id']
#     x[id] = dict()
#     x[id]['std_add'] = i['std_add']
#     x[id]['str_add'] = i['norm_add']
#     x[id]['NT_str_add'] = i['NT_norm_add']
#     # break

In [10]:
id = list(x.keys())

In [11]:
print(len(id))
print(id[-1])

34481
36660

In [8]:
# with open('Data/RAT_DATA_MAIN_New.json', 'w', encoding='utf-8') as f:
#     json.dump(x, f, ensure_ascii=False, indent=4)

In [35]:
data = []
for i in RAT_DATA:
    # print(RAT_DATA[i]['std_add'])
    std_add = RAT_DATA[i]['std_add']
    std_add['id'] = i
    if 'ward' not in std_add:
        std_add['ward'] = 'None'
    elif 'street' not in std_add:
        std_add['street'] = 'None'
    elif 'ward' not in std_add and 'street' not in std_add:
        std_add['ward'] = 'None'
        std_add['street'] = 'None'
    data.append(std_add)
    # break

In [36]:
len(data)

34481

In [68]:
# data
import pandas as pd 
df = pd.DataFrame.from_dict(data, orient='columns')

In [69]:
new_df = df.drop(columns=['street', 'ward', 'id'])

In [70]:
new_df

         district         city
0      bình chánh  hồ chí minh
1      bình chánh  hồ chí minh
2      bình chánh  hồ chí minh
3      bình chánh  hồ chí minh
4      bình chánh  hồ chí minh
...           ...          ...
34476    yên bình      yên bái
34477    yên bình      yên bái
34478    yên bình      yên bái
34479    yên bình      yên bái
34480    yên bình      yên bái

[34481 rows x 2 columns]

In [71]:
new_df = new_df.drop_duplicates()

In [72]:
new_df

         district         city
0      bình chánh  hồ chí minh
298      bình tân  hồ chí minh
697    bình thạnh  hồ chí minh
861       cần giờ  hồ chí minh
923        củ chi  hồ chí minh
...           ...          ...
34264    trấn yên      yên bái
34280    văn chấn      yên bái
34312     văn yên      yên bái
34359     yên bái      yên bái
34456    yên bình      yên bái

[705 rows x 2 columns]

In [53]:
exist_addresses = set()
for i in RAT_DATA:
    # print(RAT_DATA[i]['std_add'])
    # break
    x = RAT_DATA[i]['std_add']
    if x['street'] == 'None' and x['ward'] == 'None':
        exist_addresses.add(x['district']+x['city'])

In [55]:
# len(exist_addresses)
exist_addresses = list(exist_addresses)

In [65]:
exist_addresses[:20]

['tiên dubắc ninh',
 'tam dươngvĩnh phúc',
 'bàu bàngbình dương',
 'tân uyênbình dương',
 'hải châuđà nẵng',
 'hà đônghà nội',
 'đan phượnghà nội',
 'bến cátbình dương',
 'tây hồhà nội',
 'quận 2hồ chí minh',
 'phú nhuậnhồ chí minh',
 'sông côngthái nguyên',
 'quận 7hồ chí minh',
 'rạch giákiên giang',
 'quy nhơnbình định',
 'hàm thuận nambình thuận',
 'gò vấphồ chí minh',
 'thủ đứchồ chí minh',
 'thủ thừalong an',
 'quận 9hồ chí minh']

In [74]:
str_addresses = []
for index, row in new_df.iterrows():
    # print(row['district'])
    # print(row['city'])
    str_addresses.append(row['district']+row['city'])
    # break
new_df['str_address'] = str_addresses

<ipython-input-74-bbc2befc6f01>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['str_address'] = str_addresses

In [75]:
new_df.head(20)

        district         city            str_address
0     bình chánh  hồ chí minh  bình chánhhồ chí minh
298     bình tân  hồ chí minh    bình tânhồ chí minh
697   bình thạnh  hồ chí minh  bình thạnhhồ chí minh
861      cần giờ  hồ chí minh     cần giờhồ chí minh
923       củ chi  hồ chí minh      củ chihồ chí minh
1133      gò vấp  hồ chí minh      gò vấphồ chí minh
1349     hóc môn  hồ chí minh     hóc mônhồ chí minh
1745      nhà bè  hồ chí minh      nhà bèhồ chí minh
1797   phú nhuận  hồ chí minh   phú nhuậnhồ chí minh
1909      quận 1  hồ chí minh      quận 1hồ chí minh
2087     quận 10  hồ chí minh     quận 10hồ chí minh
2221     quận 11  hồ chí minh     quận 11hồ chí minh
2333     quận 12  hồ chí minh     quận 12hồ chí minh
2767      quận 2  hồ chí minh      quận 2hồ chí minh
3057      quận 3  hồ chí minh      quận 3hồ chí minh
3157      quận 4  hồ chí minh      quận 4hồ chí minh
3261      quận 5  hồ chí minh      quận 5hồ chí minh
3382      quận 6  hồ chí minh      quận 6hồ chí minh
3544      quận 7  hồ chí minh      quận 7hồ chí minh
3774      quận 8  hồ chí minh      quận 8hồ chí minh

In [76]:
criterion = lambda row: row['str_address'] not in exist_addresses

new_df = new_df[new_df.apply(criterion, axis=1)]

In [82]:
new_df

        district         city         str_address
861      cần giờ  hồ chí minh  cần giờhồ chí minh
6969      mỹ đức       hà nội        mỹ đứchà nội
7440   thanh oai       hà nội     thanh oaihà nội
7649     ứng hòa       hà nội       ứng hòahà nội
10026   hòa vang      đà nẵng     hòa vangđà nẵng
...          ...          ...                 ...
34253   trạm tấu      yên bái     trạm tấuyên bái
34264   trấn yên      yên bái     trấn yênyên bái
34280   văn chấn      yên bái     văn chấnyên bái
34312    văn yên      yên bái      văn yênyên bái
34456   yên bình      yên bái     yên bìnhyên bái

[538 rows x 3 columns]

In [78]:
import json
with open ('Data/RAT_DATA_MAIN_New.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [80]:
current_id = int(list(RAT_DATA.keys())[-1])+1
print(current_id)

36661

In [83]:
from Preprocess import remove_tone_of_text
remove_tone_of_text('Cao Hải Nảm')

'Cao Hai Nam'

In [84]:
str_addresses = []
for index, row in new_df.iterrows():
    RAT_DATA[current_id] = dict()
    district, city = row['district'], row['city']
    # print(district)
    # print(city)
    RAT_DATA[current_id]['std_add'] = dict()
    RAT_DATA[current_id]['std_add']['district'] = district
    RAT_DATA[current_id]['std_add']['city'] = city
    RAT_DATA[current_id]['str_add'] = ' '.join([district, city])
    RAT_DATA[current_id]['NT_str_add'] = ' '.join([remove_tone_of_text(district), remove_tone_of_text(city)])
    current_id += 1
    # break

In [85]:
len(RAT_DATA)

35019

In [87]:
with open('Data/RAT_DATA_MAIN_New_Update.json', 'w', encoding='utf-8') as f:
    json.dump(RAT_DATA, f, ensure_ascii=False, indent=4)

# Re produce sentence transformers from transformers

In [1]:
from transformers import AutoModel, AutoTokenizer
import torch
model = AutoModel.from_pretrained('sentence-transformer_LaBSE')
tokenizer = AutoTokenizer.from_pretrained('sentence-transformer_LaBSE')

In [3]:
sent = 'vĩnh hùng vĩnh lộc thanh hóa'

In [5]:
inputs = tokenizer(sent, return_tensors='pt')
with torch.no_grad():
    outputs = model(**inputs)

In [7]:
vector = outputs['pooler_output']
vector = torch.nn.functional.normalize(vector, p=2, dim=1).detach().numpy()

# Build new address matrix

In [1]:
import json
with open('Data/RAT_DATA_MAIN_New_Update.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [2]:
len(RAT_DATA)

35019

In [3]:
import Parameters
import numpy as np
import Utils
from transformers import AutoModel, AutoTokenizer
print('Load standard address matrix')
norm_embeddings = np.load(Parameters.NORM_EMBEDDING_FILE, allow_pickle=True)
NT_norm_embeddings = np.load(Parameters.NT_NORM_EMBEDDING_FILE, allow_pickle=True)

Load standard address matrix

In [113]:
# norm_embeddings.shape

(34481, 772)

In [4]:
model = AutoModel.from_pretrained(Parameters.local_embedding_model)
tokenizer = AutoTokenizer.from_pretrained(Parameters.local_embedding_model)

In [5]:
for i in RAT_DATA:
    print(RAT_DATA[i])
    break

{'std_add': {'street': 'đường 1', 'district': 'bình chánh', 'city': 'hồ chí minh'}, 'str_add': 'đường 1 bình chánh hồ chí minh', 'NT_str_add': 'duong 1 binh chanh ho chi minh'}

In [6]:
str_adds, NT_str_adds = [], []
for i in RAT_DATA:
    str_adds.append(RAT_DATA[i]['str_add'])
    NT_str_adds.append(RAT_DATA[i]['NT_str_add'])

In [7]:
print(len(str_adds))
print(len(NT_str_adds))

35019
35019

In [9]:
# str_add_matrix, NT_str_add_matrix = [], []
# for i in range(0, len(str_adds[:200])):
#     str_add, NT_str_add = str_adds[i], NT_str_adds[i]
#     str_add_matrix.append(Utils.encode(model, tokenizer, str_add))
#     NT_str_add_matrix.append(Utils.encode(model, tokenizer, NT_str_add))
#     # break

In [32]:
str_add_matrix, NT_str_add_matrix = [], []
batchsize = 256
n = len(str_adds)
for i in range(0, len(str_adds[:n]), batchsize):
    str_add, NT_str_add = str_adds[:n][i:i+batchsize], NT_str_adds[:n][i:i+batchsize]
    str_add_matrix.extend(Utils.encode(model, tokenizer, str_add))
    NT_str_add_matrix.extend(Utils.encode(model, tokenizer, NT_str_add))

In [24]:
# str_add_matrix

In [33]:
str_add_matrix = np.array(str_add_matrix)
NT_str_add_matrix = np.array(NT_str_add_matrix)

In [35]:
NT_str_add_matrix.shape

(35019, 768)

In [36]:
entity_matrix = []
str_adds, NT_str_adds = [], []
for i in RAT_DATA:
    std_add = RAT_DATA[i]['std_add']
    print(std_add)
    break

{'street': 'đường 1', 'district': 'bình chánh', 'city': 'hồ chí minh'}

In [40]:
entity_matrix = []
entities = ['street', 'ward', 'district', 'city']
str_adds, NT_str_adds = [], []
for i in RAT_DATA:
    std_add = RAT_DATA[i]['std_add']
    entity_vector = [0., 0., 0., 0.]
    for ent in entities:
        if ent in std_add:
            entity_vector[entities.index(ent)] = 1. 
    # print(entity_vector)
    entity_matrix.append(entity_vector)
    # break

In [41]:
entity_matrix = np.array(entity_matrix)

In [42]:
entity_matrix.shape

(35019, 4)

In [43]:
x = np.concatenate((str_add_matrix, entity_matrix), axis=1)
NT_x = np.concatenate((NT_str_add_matrix, entity_matrix), axis=1)

In [44]:
x.shape

(35019, 772)

In [45]:
NT_x.shape

(35019, 772)

In [46]:
with open('Data/std_address_matrix.npy', 'wb') as f:
    np.save(f, x)
    np.save(f, NT_x)
# with open('Data/Update_NT_norm.npy', 'wb') as f:
#     np.save(f, NT_x)

# Update id2ID, ID2id, id2norm_add

In [49]:
import json
import Parameters
with open('Data/RAT_DATA_MAIN_New_Update.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [47]:
for i in RAT_DATA:
    print(RAT_DATA[i])
    break

{'std_add': {'street': 'đường 1', 'district': 'bình chánh', 'city': 'hồ chí minh'}, 'str_add': 'đường 1 bình chánh hồ chí minh', 'NT_str_add': 'duong 1 binh chanh ho chi minh'}

In [ ]:
import json
with open('Data/RAT_DATA_MAIN_New_Update.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [50]:
with open(file=Parameters.ID2id_FILE, mode='r', encoding='utf-8') as f:
    ID2id = json.load(fp=f)

with open(file=Parameters.id2ID_FILE, mode='r', encoding='utf-8') as f:
    id2ID = json.load(fp=f)

with open(file=Parameters.id2norm_add_FILE, mode='r', encoding='utf-8') as f:
    id2std_add= json.load(fp=f)

In [56]:
id2std_add['0']

{'norm_add': 'đường 1 bình chánh hồ chí minh',
 'NT_norm_add': 'duong 1 binh chanh ho chi minh'}

In [57]:
ID2id, id2ID, id2std_add = dict(), dict(), dict()
count = 0
for i in RAT_DATA:
    ID2id[count] = int(i)
    id2ID[i] = count
    id2std_add[i] = dict()
    id2std_add[i]['str_add'] = RAT_DATA[i]['str_add']
    id2std_add[i]['NT_str_add'] = RAT_DATA[i]['NT_str_add']
    count += 1

In [60]:
with open('Data/id2ID_Update.json', 'w', encoding='utf-8') as f:
    json.dump(id2ID, f, ensure_ascii=False, indent=4)
with open('Data/ID2id_Update.json', 'w', encoding='utf-8') as f:
    json.dump(ID2id, f, ensure_ascii=False, indent=4)
with open('Data/id2norm_add_Update.json', 'w', encoding='utf-8') as f:
    json.dump(id2std_add, f, ensure_ascii=False, indent=4)

In [61]:
with open(file=Parameters.id2norm_add_FILE, mode='r', encoding='utf-8') as f:
    id2std_add= json.load(fp=f)

In [63]:
x = dict()
for i in id2std_add:
    x[i] = dict()
    x[i]['std_add'] = id2std_add[i]['norm_add']
    x[i]['NT_std_add'] = id2std_add[i]['NT_norm_add']

In [64]:
with open('Data/id2norm_add_1.json', 'w', encoding='utf-8') as f:
    json.dump(x, f, ensure_ascii=False, indent=4)

In [ ]:
import json
import Parameters
with open('Data/RAT_DATA_MAIN.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

# Test Siameser

In [1]:
import keras
import Siameser

2022-06-09 17:32:27.835600: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-09 17:32:27.835614: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [6]:
std = Siameser.Siameser('AD')

Load model
WARNING:tensorflow:SavedModel saved prior to TF 2.5 detected when loading Keras model. Please ensure that you are saving the model with model.save() or tf.keras.models.save_model(), *NOT* tf.saved_model.save(). To confirm, there should be a file named "keras_metadata.pb" in the SavedModel directory.

2022-06-09 17:35:31.083159: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-06-09 17:35:31.083174: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-06-09 17:35:31.083204: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (namch): /proc/driver/nvidia/version does not exist
2022-06-09 17:35:31.083382: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Load sentence embedding model (If this is the first time you run this repo, It could be take time to download sentence embedding model)
Load standard address matrix
Load standard address
Load file to convert index in matrix to real id of standard address
Done

In [21]:
# add = 'Hoi P Bình Hưng Hòa B/Tân TP Hồ Chí Minh'
# add = 'Thị Tĩnh Khai P Đa Kao Quận 1 TP Hồ Chí Minh'
# add = 'Huy tinn T Phát Thị Trấn Nhà Bè NB TP Hồ Chí Minh'
# add = 'Văn Nguyên P T-Định Q1 TP Hồ Chí-Minh'
# add = 'Lão Bang Quận Hải Châu Đà Nẵng'
# add = 'P Than P BTĐông BTân TP Hồ Chí Minh'
# add = 'Xuân phương Từ liêm Hà nội'
# add = 'Mỹ Tây Tây Hoà Phú Yên'
# add = 'Lãm P An Lạc Bình Tân TP Hồ Chí Minh'
# add = 'Tân Thanh Bà Rịa-Vũng Tàu'
add = 'TT Bộ Thủy Sân Ngọc Khánh Ba Đình Hà Nội'
std_add = std.standardize(add)
print(std_add)

1095/1095 [==============================] - 1s 1ms/step
{'ward': 'ngọc khánh', 'district': 'ba đình', 'city': 'hà nội'}

# Rebuild file

In [1]:
import json

In [2]:
id2ID, ID2id, id2std_add = dict(), dict(), dict()
with open('Data/RAT_DATA_MAIN_New_Update.json', 'r') as f:
    RAT_DATA = json.load(f)

In [3]:
len(RAT_DATA)

35019

In [4]:
for i in RAT_DATA:
    print(i)
    print(RAT_DATA[i])
    break

0
{'std_add': {'street': 'đường 1', 'district': 'bình chánh', 'city': 'hồ chí minh'}, 'str_add': 'đường 1 bình chánh hồ chí minh', 'NT_str_add': 'duong 1 binh chanh ho chi minh'}

In [6]:
cur_ID = 0
for i in RAT_DATA:
    id2ID[i] = cur_ID
    ID2id[cur_ID] = i 
    cur_ID += 1

In [8]:
with open('Data/id2ID_Update.json', 'w', encoding='utf-8') as f:
    json.dump(id2ID, f, ensure_ascii=False, indent=4)
with open('Data/ID2id_Update.json', 'w', encoding='utf-8') as f:
    json.dump(ID2id, f, ensure_ascii=False, indent=4)

In [4]:
id2str_std_add = dict()
for i in RAT_DATA:
    id2str_std_add[i] = dict()
    id2str_std_add[i]['str_add'] = RAT_DATA[i]['str_add']
    id2str_std_add[i]['NT_str_add'] = RAT_DATA[i]['NT_str_add']

In [5]:
with open('Data/id2str_std_add.json', 'w', encoding='utf-8') as f:
    json.dump(id2str_std_add, f, ensure_ascii=False, indent=4)

# Test model

In [1]:
import keras 
import Siameser

Using TensorFlow backend.

In [2]:
std = Siameser.Siameser('AD')

Load model
Load sentence embedding model (If this is the first time you run this repo, It could be take time to download sentence embedding model)

/home/caohainam/anaconda3/envs/Siameser/lib/python3.6/site-packages/torch/cuda/__init__.py:80: UserWarning: CUDA initialization: The NVIDIA driver on your system is too old (found version 9010). Please update your GPU driver by downloading and installing a new version from the URL: http://www.nvidia.com/Download/index.aspx Alternatively, go to: https://pytorch.org to install a PyTorch version that has been compiled with your version of the CUDA driver. (Triggered internally at  ../c10/cuda/CUDAFunctions.cpp:112.)
  return torch._C._cuda_getDeviceCount() > 0

Load standard address matrix
Load standard address
Done

In [5]:
add = 'lệ thủy quảng bình'
std_add = std.standardize(add)

In [6]:
std_add

{'district': 'lệ thủy', 'city': 'quảng bình'}